body {
    background-color: rgb(255, 255, 255) ;
    
    
}
header{
    background-color: rgb(199, 199, 190);
}
main{ background-color: rgb(240, 240, 240);}
div { background: rgba(0, 14, 139, 0.356);}
footer{
    background-color: rgb(153, 72, 72);}